# dependencies
node_modules/
.yarn/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# production
build/
public/
dist
dist-ssr
*.local

# external docs
src/app/(control-panel)/documentation/material-ui-components/components/*
src/app/(control-panel)/documentation/material-ui-components/doc/*
src/app/(control-panel)/documentation/third-party-components/*/examples/*

src/@fake-db/db/*
**/*.{js,jsx}

.eslintrc.js
tailwind.config.

aliases.js
config-overrides.js

src/utils/node-scripts/fuse-react-message.js
